*{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-y:hidden;
    overflow-x:hidden;
    box-sizing: border-box;
    &::before{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    &::after{
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
   
} 
@font-face {
    font-family:'Golos';
    src: url('../fonts/GolosFont/static/GolosText-Regular.ttf');
}